<table>
  <tr>
    <td><a href="/reunion/nav/about">About F1</a></td>
    <td><a href="/reunion/nav/history">F1 History</a></td>
    <td><a href="/reunion/nav/drivers">F1 Drivers</a></td>
    <td><a href="/reunion/nav/races">Races</a></td>
    <td><a href="/reunion/nav/calendar">Calendar</a></td>
    <td><a href="/reunion/nav/betting">Betting</a></td>
    <td><a href="/reunion/nav/notes">Notes</a></td>
    <td><a href="/reunion/nav/signup">Signup</a></td>
  </tr>
</table>

<style>
  a {
    font-weight: bold;
  }
</style>
