<table>
  <tr>
    <td><a href="/>Home"></a></td>
    <td><a href="/reunion/nav1/about">About F1</a></td>
    <td><a href="/reunion/nav1/history">F1 History</a></td>
    <td><a href="/reunion/nav1/drivers">F1 Drivers</a></td>
    <td><a href="/reunion/nav1/races">Races</a></td>
    <td><a href="/reunion/nav1/sponsors">Sponsors</a></td>
    <td><a href="/reunion/nav1/betting">Betting</a></td>
    <td><a href="/reunion/nav1/notes">Notes</a></td>
  </tr>
</table>

<style>
  a {
    font-weight: bold;
  }
</style>
